<!DOCTYPE html>
<html lang="vi" class="loading-site no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        Trang Chủ -  Công ty Sản xuất - Dịch vụ TM Hoàng Minh
        Sản phẩm : Kinh doanh rượu Hoàng Hoa
    </title>
    <link rel='stylesheet' id='menu-icons-extra-css' href='/wp-content/plugins/menu-icons/css/extra.minb36a.css?ver=0.13.7' type='text/css' media='all' />
    <style id='wp-emoji-styles-inline-css' type='text/css'>

        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style id='wp-block-library-inline-css' type='text/css'>
        :root {
            --wp-admin-theme-color: #007cba;
            --wp-admin-theme-color--rgb: 0,124,186;
            --wp-admin-theme-color-darker-10: #006ba1;
            --wp-admin-theme-color-darker-10--rgb: 0,107,161;
            --wp-admin-theme-color-darker-20: #005a87;
            --wp-admin-theme-color-darker-20--rgb: 0,90,135;
            --wp-admin-border-width-focus: 2px;
            --wp-block-synced-color: #7a00df;
            --wp-block-synced-color--rgb: 122,0,223
        }

        @@media (min-resolution:192dpi) {
            :root {
                --wp-admin-border-width-focus: 1.5px
            }
        }

        .wp-element-button {
            cursor: pointer
        }

        :root {
            --wp--preset--font-size--normal: 16px;
            --wp--preset--font-size--huge: 42px
        }

            :root .has-very-light-gray-background-color {
                background-color: #eee
            }

            :root .has-very-dark-gray-background-color {
                background-color: #313131
            }

            :root .has-very-light-gray-color {
                color: #eee
            }

            :root .has-very-dark-gray-color {
                color: #313131
            }

            :root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background {
                background: linear-gradient(135deg,#00d084,#0693e3)
            }

            :root .has-purple-crush-gradient-background {
                background: linear-gradient(135deg,#34e2e4,#4721fb 50%,#ab1dfe)
            }

            :root .has-hazy-dawn-gradient-background {
                background: linear-gradient(135deg,#faaca8,#dad0ec)
            }

            :root .has-subdued-olive-gradient-background {
                background: linear-gradient(135deg,#fafae1,#67a671)
            }

            :root .has-atomic-cream-gradient-background {
                background: linear-gradient(135deg,#fdd79a,#004a59)
            }

            :root .has-nightshade-gradient-background {
                background: linear-gradient(135deg,#330968,#31cdcf)
            }

            :root .has-midnight-gradient-background {
                background: linear-gradient(135deg,#020381,#2874fc)
            }

        .has-regular-font-size {
            font-size: 1em
        }

        .has-larger-font-size {
            font-size: 2.625em
        }

        .has-normal-font-size {
            font-size: var(--wp--preset--font-size--normal)
        }

        .has-huge-font-size {
            font-size: var(--wp--preset--font-size--huge)
        }

        .has-text-align-center {
            text-align: center
        }

        .has-text-align-left {
            text-align: left
        }

        .has-text-align-right {
            text-align: right
        }

        #end-resizable-editor-section {
            display: none
        }

        .aligncenter {
            clear: both
        }

        .items-justified-left {
            justify-content: flex-start
        }

        .items-justified-center {
            justify-content: center
        }

        .items-justified-right {
            justify-content: flex-end
        }

        .items-justified-space-between {
            justify-content: space-between
        }

        .screen-reader-text {
            clip: rect(1px,1px,1px,1px);
            word-wrap: normal !important;
            border: 0;
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px
        }

            .screen-reader-text:focus {
                clip: auto !important;
                background-color: #ddd;
                -webkit-clip-path: none;
                clip-path: none;
                color: #444;
                display: block;
                font-size: 1em;
                height: auto;
                left: 5px;
                line-height: normal;
                padding: 15px 23px 14px;
                text-decoration: none;
                top: 5px;
                width: auto;
                z-index: 100000
            }

        html :where(.has-border-color) {
            border-style: solid
        }

        html :where([style*=border-top-color]) {
            border-top-style: solid
        }

        html :where([style*=border-right-color]) {
            border-right-style: solid
        }

        html :where([style*=border-bottom-color]) {
            border-bottom-style: solid
        }

        html :where([style*=border-left-color]) {
            border-left-style: solid
        }

        html :where([style*=border-width]) {
            border-style: solid
        }

        html :where([style*=border-top-width]) {
            border-top-style: solid
        }

        html :where([style*=border-right-width]) {
            border-right-style: solid
        }

        html :where([style*=border-bottom-width]) {
            border-bottom-style: solid
        }

        html :where([style*=border-left-width]) {
            border-left-style: solid
        }

        html :where(img[class*=wp-image-]) {
            height: auto;
            max-width: 100%
        }

        :where(figure) {
            margin: 0 0 1em
        }

        html :where(.is-position-sticky) {
            --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,0px)
        }

        @@media screen and (max-width:600px) {
            html :where(.is-position-sticky) {
                --wp-admin--admin-bar--position-offset: 0px
            }
        }
    </style>
    <style id='classic-theme-styles-inline-css' type='text/css'>
        /*! This file is auto-generated */
        .wp-block-button__link {
            color: #fff;
            background-color: #32373c;
            border-radius: 9999px;
            box-shadow: none;
            text-decoration: none;
            padding: calc(.667em + 2px) calc(1.333em + 2px);
            font-size: 1.125em
        }

        .wp-block-file__button {
            background: #32373c;
            color: #fff;
            text-decoration: none
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='~/wp-content/plugins/contact-form-7/includes/css/styles69c8.css?ver=5.8.4' type='text/css' media='all' />
    <link rel='stylesheet' id='devvn-quickbuy-style-css' href='~/wp-content/plugins/devvn-quick-buy/css/devvn-quick-buy001e.css?ver=2.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='woof-css' href='~/wp-content/plugins/woocommerce-products-filter/css/front1e39.css?ver=6.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='chosen-drop-down-css' href='~/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.min1e39.css?ver=6.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='icheck-jquery-color-css' href='~/wp-content/plugins/woocommerce-products-filter/js/icheck/skins/flat/grey1e39.css?ver=6.4.2' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='flatsome-main-css' href='~/wp-content/themes/flatsome/assets/css/flatsome9dd7.css?ver=3.14.3' type='text/css' media='all' />
    <style id='flatsome-main-inline-css' type='text/css'>
        @@font-face {
            font-family: "fl-icons";
            font-display: block;
            src: url(/wp-content/themes/flatsome/assets/css/icons/fl-iconsae55.eot?v=3.14.3);
            src: url(/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot#iefix?v=3.14.3) format("embedded-opentype"), url(/wp-content/themes/flatsome/assets/css/icons/fl-iconsae55.woff2?v=3.14.3) format("woff2"), url(/wp-content/themes/flatsome/assets/css/icons/fl-iconsae55.ttf?v=3.14.3) format("truetype"), url(/wp-content/themes/flatsome/assets/css/icons/fl-iconsae55.woff?v=3.14.3) format("woff"), url(/wp-content/themes/flatsome/assets/css/icons/fl-iconsae55.svg?v=3.14.3#fl-icons) format("svg");
        }
    </style>
    <link rel='stylesheet' id='flatsome-shop-css' href='/wp-content/themes/flatsome/assets/css/flatsome-shop9dd7.css?ver=3.14.3' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-style-css' href='/wp-content/themes/shop-ruou/style6aec.css?ver=3.0' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-googlefonts-css' href='https://fonts.googleapis.com/css?family=Oswald%3Aregular%2C500%2Cregular%2Cregular%7CDancing+Script%3Aregular%2C400&amp;display=swap&amp;ver=3.9' type='text/css' media='all' />
    <script type="text/javascript" src="~/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="~/wp-includes/js/jquery/jquery-migrate.min5589.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <script type="text/javascript" src="~/wp-includes/js/underscore.mind584.js?ver=1.13.4" id="underscore-js"></script>
    <script type="text/javascript" src="~/wp-includes/js/wp-util.min1e39.js?ver=6.4.2" id="wp-util-js"></script>

    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <link rel="icon" href="~/img/logo.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="~/img/logo.png" />
    <meta name="msapplication-TileImage" content="~/img/logo.png" />
    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #b39851;
        }

        .full-width .ubermenu-nav, .container, .row {
            max-width: 1070px
        }

            .row.row-collapse {
                max-width: 1040px
            }

            .row.row-small {
                max-width: 1062.5px
            }

            .row.row-large {
                max-width: 1100px
            }

        .header-main {
            height: 103px
        }

        #logo img {
            max-height: 75px
        }

        #logo {
            width: 211px;
        }

        .header-bottom {
            min-height: 51px
        }

        .header-top {
            min-height: 35px
        }

        .transparent .header-main {
            height: 30px
        }

        .transparent #logo img {
            max-height: 30px
        }

        .has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 110px;
        }

        .header.show-on-scroll, .stuck .header-main {
            height: 40px !important
        }

        .stuck #logo img {
            max-height: 40px !important
        }

        .search-form {
            width: 100%;
        }

        .header-bg-color, .header-wrapper {
            background-color: #390023
        }

        .header-bottom {
            background-color: #b39851
        }

        .header-main .nav > li > a {
            line-height: 16px
        }

        .stuck .header-main .nav > li > a {
            line-height: 6px
        }

        .header-bottom-nav > li > a {
            line-height: 16px
        }

        @@media (max-width: 549px) {
            .header-main {
                height: 70px
            }

            #logo {
                width: 400px;
            }

                #logo img {
                    max-height: 70px
                }
        }

        .main-menu-overlay {
            background-color: #a8a8a8
        }
        /* Color */

        .accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
            color: #b39851;
        }
        /* Color !important */

        [data-text-color="primary"] {
            color: #b39851 !important;
        }
        /* Background Color */

        [data-text-bg="primary"] {
            background-color: #b39851;
        }
        /* Background */

        .scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
            background-color: #b39851;
        }
            /* Border */

            .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                border-color: #b39851
            }

        .nav-tabs > li.active > a {
            border-top-color: #b39851
        }

        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #b39851
        }

        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #b39851
        }
        /* Fill */

        .slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
            fill: #b39851;
        }
        /* Background Color */

        [data-icon-label]:after, .secondary.is-underline:hover, .secondary.is-outline:hover, .icon-label, .button.secondary:not(.is-outline), .button.alt:not(.is-outline), .badge-inner.on-sale, .button.checkout, .single_add_to_cart_button, .current .breadcrumb-step {
            background-color: #b39851;
        }

        [data-text-bg="secondary"] {
            background-color: #b39851;
        }
        /* Color */

        .secondary.is-underline, .secondary.is-link, .secondary.is-outline, .stars a.active, .star-rating:before, .woocommerce-page .star-rating:before, .star-rating span:before, .color-secondary {
            color: #b39851
        }
        /* Color !important */

        [data-text-color="secondary"] {
            color: #b39851 !important;
        }
        /* Border */

        .secondary.is-outline:hover {
            border-color: #b39851
        }

        body {
            font-size: 100%;
        }

        body {
            font-family: "Oswald", sans-serif
        }

        body {
            font-weight: 0
        }

        body {
            color: #262626
        }

        .nav > li > a {
            font-family: "Oswald", sans-serif;
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-family: "Oswald", sans-serif;
        }

        .nav > li > a {
            font-weight: 0;
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-weight: 0;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Oswald", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
            font-weight: 500;
        }

        h1, h2, h3, h4, h5, h6, .heading-font {
            color: #0a0a0a;
        }

        .alt-font {
            font-family: "Dancing Script", sans-serif;
        }

        .alt-font {
            font-weight: 400 !important;
        }

        .has-equal-box-heights .box-image {
            padding-top: 150%;
        }

        @@media screen and (min-width: 550px) {
            .products .box-vertical .box-image {
                min-width: 300px !important;
                width: 300px !important;
            }
        }

        .absolute-footer, html {
            background-color: #250016
        }

        .page-title-small + main .product-container > .row {
            padding-top: 0;
        }
        /* Custom CSS */

        .block-after-header-bottom .tieu-de, .header-button a, .row-san-pham .product-small .price span, .row-san-pham .product-small .product-title a {
            font-family: oswald,sans-serif
        }

        #logo:before {
            position: absolute;
            content: '';
            background-image: url(/wp-content/uploads/2019/02/header-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 500px;
            height: 215px;
            left: 280px;
            top: -112px;
            z-index: -1
        }

        .header-top {
            background-color: #44608400
        }

        .header-nav li a {
            font-weight: 400;
            padding-left: 15px;
            padding-right: 15px
        }

        #header-contact li a span {
            text-transform: none
        }

        .searchform-wrapper input:focus {
            box-shadow: 0 0 0 gray;
            background: #5f0724
        }

        placeholder {
            color: red
        }

        .searchform-wrapper input {
            height: 45px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            box-shadow: 0 0 12px #0002b;
            background: #5f0724;
            border: 0
        }

        .searchform .button.icon {
            box-shadow: 2px 2px 10px #26000d;
            height: 45px;
            width: 45px;
            border-radius: 40px;
            background: #26000d;
            color: #b7a054
        }

        .header-button a {
            border-radius: 4px;
            background: #b39851
        }

        .header-nav li a:hover {
            background: #fff;
            color: #000 !important
        }

        .header-nav li {
            margin: 0
        }

        .block-after-header-bottom .tieu-de {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: #5d5d5d;
            margin-bottom: -5px
        }

        .block-after-header-bottom .icon-box-text {
            padding-left: 5px !important
        }

        .block-after-header-bottom .mo-ta {
            font-size: 10px;
            color: #5d5d5d
        }

        .section-title b {
            height: 1px;
            opacity: 1;
            background-color: #b39851
        }

        .section-title-container {
            margin-bottom: 0
        }

        .de-xuat .banner .text-box .text-inner span {
            font-size: 15px;
            color: #562345;
            background: #fff;
            padding: 20px 30px
        }

        .section-title-center span {
            text-align: center;
            font-weight: 400;
            letter-spacing: 3px
        }

        .block-after-header-bottom {
            padding-left: 5px
        }

        .thong-tin-bo-sung {
            padding-top: 30px;
            background: #fcfcfc;
            border-bottom: 67px solid #cecece
        }

        .product-footer {
            margin-top: -84px
        }

        .row-san-pham .product-small .price span {
            color: #960000;
            font-size: 17px;
            font-weight: 400
        }

        .row-san-pham .product-small .product-title a {
            height: 40px;
            font-size: 15px;
            color: #562345 !important;
            margin-bottom: 10px;
            letter-spacing: 1px
        }

            .row-san-pham .product-small .product-title a:hover {
                color: #ff7010 !important
            }

        .image-tools a {
            border: 1px solid #b39851 !important;
            background-color: #fff
        }

        .icon-expand:before {
            color: #b39851
        }

        .thong-bao .col {
            padding-bottom: 0
        }

            .thong-bao .col p {
                margin-bottom: 3px
            }

        .thong-bao {
            border-bottom: 4px solid #dec279
        }

        .de-xuat .large-12, .row-san-pham .large-12 {
            padding-bottom: 0 !important
        }

        .footer-wrapper ul li, .footer-wrapper ul li a {
            color: #bd8eab;
            font-weight: 400;
            font-size: 14px
        }

        .copyright-footer {
            font-size: 12px;
            color: #b39851
        }

        .footer-section .col {
            padding-bottom: 0
        }

        .footer-wrapper ul li {
            list-style: none;
            margin-bottom: 5px;
            margin-left: 0
        }

        .footer-wrapper h3 {
            font-size: 16px;
            font-weight: 400;
            color: #b39851
        }

        .single-product .product-info .product-title {
            padding-bottom: 0;
            border-bottom: 0 dashed #e8e8e8;
            color: #390023;
            margin-bottom: 0
        }

        .product-info {
            padding-top: 0
        }

        .single-product .nong-do-dung-tich {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #efece3;
            font-family: oswald;
            font-weight: 400;
            color: #8f8f8f
        }

        .breadcrumbs, .breadcrumbs a, .page-title-inner {
            color: #fff
        }

        .social-icons a {
            border: 1px solid #b39851
        }

        .footer-wrapper .social-icons a.button {
            background: gray;
            border: 0;
            color: #fff
        }

        .single-product .product-main .content-row {
            background: #fff !important
        }

        .product-gallery, .product-thumbnails .col {
            padding-bottom: 15px !important;
            padding-top: 15px
        }

        .single-product .product-main {
            padding-top: 30px !important;
            background: #eaeaea
        }

        .footer-section .medium-3 {
            border-left: 1px solid #530033;
            border-right: 1px solid #200013
        }

            .footer-section .medium-3:first-child {
                border-left: 0
            }

        .footer-section .cot-cuoi {
            border-right: 0 !important
        }

        .page-title-inner {
            position: relative;
            padding-top: 0;
            min-height: 37px;
            font-size: 13px;
            font-family: oswald,sans-serif
        }

        .woocommerce-product-gallery figure {
            border-radius: 4px;
            border: 1px solid #e8e8e8
        }

        .single-product .page-title {
            background: #390023
        }

        .woocommerce-product-rating {
            visibility: visible;
            position: relative;
            display: block;
            border-bottom: 1px dashed #e8e8e8;
            padding-bottom: 10px
        }

        .product-small .pwb-brands-in-loop a {
            margin-bottom: 5px;
            color: #b39851
        }

        #commentform, .single-product .cart {
            margin-bottom: 0
        }

        .single-product .product-info .product-short-description, .widget .is-divider {
            display: none
        }

        .product-helpfull-info {
            background: #efece3;
            padding: 15px;
            font-family: Oswald,Roboto,arial,sans-serif;
            text-transform: uppercase;
            position: relative;
            color: #999
        }

        .devvn-popup-title, .popup-customer-info-group .devvn-order-btn {
            background: #390023 !important
        }

        .product-helpfull-info i {
            position: absolute;
            top: 50%;
            left: 10px;
            font-size: 30px;
            margin-top: -15px
        }

        .product-helpfull-info--title {
            font-size: 1.125em;
            color: #960000
        }

        .product-helpfull-info--content a {
            color: #b39851
        }

        .icm-telephone:before {
            content: ""
        }

        .devvn-popup-title span {
            font-family: oswald;
            font-size: 19px
        }

        .popup-customer-info-group .devvn-order-btn, .single-product .price span {
            font-family: oswald,sans-serif;
            font-weight: 400
        }

        .single-product .product-info {
            border-right: 0;
            padding: 15px
        }

        .single-product #product-sidebar {
            padding-left: 0;
            padding-top: 15px;
            padding-bottom: 15px
        }

        .single-product .product-info .price-wrapper .price {
            display: block;
            background: #f4f0e4;
            padding: 22px 15px;
            color: #fff;
            text-align: center
        }

        .single-product .price span {
            white-space: nowrap;
            color: #960000;
            font-size: 29px
        }

        .product_meta > span {
            display: block;
            border-top: 1px dashed #e9e9e9;
            padding: 10px 0;
            font-size: 14px
        }

        .single_add_to_cart_button, a.devvn_buy_now_style {
            font-family: oswald,sans-serif;
            font-size: 16px
        }

        .single_add_to_cart_button {
            margin-right: 0;
            font-weight: 400;
            width: 67%
        }

        .commentlist li .avatar {
            border-radius: 100%;
            background: gray;
            width: 60px;
            height: 60px;
            border: 2px solid #b39851
        }

        .star-rating {
            margin: 0
        }

        .form-submit input[type=submit] {
            font-family: oswald,sans-serif;
            font-weight: 400;
            margin: 0
        }

        .review-form-inner {
            border: 1px solid #b39851;
            padding: 15px 20px
        }

        #tab-pwb_tab-content img {
            border: 1px solid #eaeaea
        }

        .pwb-single-product-brands a {
            font-family: oswald,sans-serif;
            color: #b39851;
            font-weight: 400;
            margin-bottom: 5px;
            display: block
        }

        a.devvn_buy_now_style strong {
            font-weight: 400
        }

        a.devvn_buy_now_style {
            border-radius: 0;
            background: #5f0724 !important;
            margin-bottom: 10px
        }

        .single-product .price {
            margin: 0 0 15px;
            border-bottom: 1px dashed #e8e8e8
        }

        .nav-tabs + .tab-panels {
            padding-left: 0;
            padding-right: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0
        }

        .tabbed-content .nav-tabs > li {
            margin: 0 3px;
            margin-bottom: -1px !important
        }

        .nav-tabs > li > a {
            border-left: 0;
            border-right: 0;
            border-top: 4px solid #cecece;
            background: #cecece;
            padding-left: 45px;
            padding-right: 45px;
            font-size: 19px !important;
            font-weight: 400;
            color: #5e5e5e
        }

        .nav-tabs > li.active > a {
            border-top-color: #b6b6b6;
            color: #ff7010;
            border-left: 0;
            border-right: 0
        }

        .custom-form-1 {
            display: inline-block;
            width: 100%
        }

        #wpcomm .wpdiscuz-form-bottom-bar, #wpcomm .wpdiscuz-form-top-bar, #wpcomm .wpdiscuz-front-actions, .blog-archive .large-9 .badge, .woof_edit_view {
            display: none
        }

        .custom-form-1 .left {
            width: 50%;
            padding-right: 20px;
            float: left
        }

        .custom-form-1 .right {
            width: 50%;
            padding-left: 20px;
            float: right;
            text-align: left
        }

        .custom-form-1 h3, .heading-center, .tieu-de-mo-ta {
            text-align: center
        }

        .custom-form-1 p {
            font-family: Arial,sans-serif;
            font-size: 14px;
            margin-bottom: 8px
        }

        .custom-form-1 .clearboth {
            clear: both
        }

        .custom-form-1 h3 {
            color: #591b04;
            text-transform: uppercase;
            border-bottom: 1px solid #f4f0e4;
            padding-bottom: 10px
        }

        .custom-form-1 ul li {
            list-style: none;
            padding-bottom: 6px;
            border-bottom: 1px dashed #e1e1e1;
            margin-bottom: 5px
        }

        .luu-y {
            border: 1px dashed #5f0724;
            background: #f4f0e4;
            padding: 15px;
            color: #333;
            font-family: aria,sans-serif;
            font-size: 15px;
            margin-bottom: 40px
        }

            .luu-y p {
                margin-bottom: 9px
            }

            .luu-y h3 {
                color: #5f0724
            }

        .custom-form-1 ul li .gia-tri {
            float: right
        }

        .custom-form-1 ul {
            font-size: 14px;
            font-family: Arial,sans-serif
        }

        .nav-dropdown-default, .recent-blog-posts a, .related .product-small .product-title a, .thong-tin-cua-hang, .widget-title span, .widget_categories ul li {
            font-family: oswald,sans-serif
        }

        .heading-title.product-detail-title {
            font-size: 1.5em;
            letter-spacing: 1px
        }

        .tieu-de-mo-ta {
            font-size: 20px;
            color: #591b04;
            padding-top: 10px;
            text-transform: uppercase
        }

        .single-product .entry-content p {
            margin-bottom: 10px
        }

        .single-product .entry-content {
            font-size: 15px
        }

        .devvn_readmore_flatsome a {
            color: #ff7010 !important;
            text-align: left !important
        }

            .devvn_readmore_flatsome a:after {
                border-top: 6px solid #ff7010 !important
            }

        .related h3 {
            font-size: 19px;
            color: #ff7010
        }

        .related .product-small .box-text {
            padding: 0
        }

        .single-product .related .price {
            border-bottom: 0
        }

            .single-product .related .price span {
                font-size: 17px
            }

        .related .product-small .product-title a {
            overflow: hidden;
            font-weight: 400;
            height: 40px;
            font-size: 15px;
            color: #562345 !important;
            margin-bottom: 10px;
            letter-spacing: 1px
        }

        .product-footer .woocommerce-tabs {
            padding-bottom: 0;
            border-top: none
        }

        .woof_sid_auto_shortcode .woof_container {
            width: 25%;
            padding-left: 15px;
            padding-right: 15px
        }

        .chosen-container-single .chosen-single {
            border: 1px solid #e6e6e6 !important;
            border-radius: 4px !important;
            background: #fff !important;
            box-shadow: 0 0 0;
            height: 38px !important
        }

            .chosen-container-single .chosen-single span {
                line-height: 33px;
                font-size: 14px
            }

        .woof_container {
            padding-bottom: 0;
            margin-bottom: 0
        }

        .woof_sid_auto_shortcode.woof {
            padding: 10px 0
        }

        .archive .breadcrumbs {
            font-weight: 400
        }

        .archive .page-title {
            background: #390023
        }

        .woof_sid_auto_shortcode .woof_container_inner h4 {
            color: gray;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 15px
        }

        .woof_sid_auto_shortcode {
            padding-bottom: 0 !important;
            border: 1px solid #e6e6e6;
            margin-bottom: 30px;
            border-radius: 4px
        }

        .comments-area {
            width: auto;
            background: #edeef2;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 50px
        }

        #wc-comment-header, #wpcomm {
            max-width: 100%
        }

        #wpcomm {
            padding: 0;
            border-top: 0;
            margin: 0
        }

            #wpcomm .wc-form-wrapper {
                background: 0 0
            }

            #wpcomm .wc-form-footer {
                padding-bottom: 5px;
                margin-bottom: 0;
                border: 0
            }

            #wpcomm .wpdiscuz-textarea-wrap {
                border: 0;
                border-radius: 5px
            }

            #wpcomm .avatar {
                box-shadow: 0 0 0 grey;
                border-radius: 99%
            }

            #wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap textarea {
                border-radius: 4px;
                font-size: 15px !important
            }

            #wpcomm .wc-thread-wrapper {
                padding: 10px 0 10px 2px;
                margin-bottom: 0;
                margin-top: 0
            }

            #wpcomm .wc-comment .wc-comment-right {
                background: #FEFEFE;
                border-radius: 5px
            }

            #wpcomm .wc-comment-header {
                border-top: none;
                margin-bottom: 0
            }

        .widget-title span {
            letter-spacing: 0;
            font-weight: 400;
            font-size: 18px;
            color: #5f0724
        }

        .widget .current-cat > a {
            color: #ff7d37;
            font-weight: 400
        }

        .page-right-sidebar .large-9 {
            border-right: 0
        }

        .nav-dropdown.nav-dropdown-default > li > a:hover {
            color: #5f0724
        }

        .widget_shopping_cart_content p {
            padding: 10px
        }

        .nav-dropdown > li.nav-dropdown-col {
            min-width: 200px
        }

        .nav-dropdown-default li.menu-cha a {
            font-size: 15px !important;
            color: #390023 !important
        }

        .nav-dropdown-default .nav-column li > a {
            text-transform: uppercase;
            color: gray;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 12px;
            border-bottom: 0
        }

        .nav-dropdown.nav-dropdown-default > li > a {
            font-size: 15px;
            font-weight: 400;
            color: #390023
        }

        .nav-dropdown-default {
            padding: 0;
            font-size: 14px;
            font-weight: 400
        }

        .page-right-sidebar .page-inner {
            font-size: 14px
        }

        .blog-archive .post-sidebar, .blog-single .post-sidebar, .page-right-sidebar .large-3 {
            padding-left: 0
        }

        #wpcomm .wc-comment-right .wc-comment-text, #wpcomm .wc-comment-right .wc-comment-text * {
            font-size: 15px
        }

        #wpcomm .wc-blog-post_author > .wc-comment-right .wc-comment-author {
            color: #000;
            font-weight: 700
        }

        .page-number {
            background: #f4f4f4;
            border: 0 !important
        }

        .blog-archive .post-item .box-text .post-title:hover {
            color: #ff7d37
        }

        .blog-archive .post-item .box-text .post-title {
            margin-bottom: 10px;
            font-size: 19px
        }

        .blog-archive .post-item .box-text {
            padding-left: 15px;
            padding-right: 0;
            padding-top: 0
        }

        .blog-archive .large-12 {
            padding-bottom: 20px
        }

        .blog-archive .taxonomy-description p {
            font-size: 14px;
            text-align: left;
            margin-bottom: 8px
        }

        .blog-archive h1 {
            text-align: left;
            background: #fff !important
        }

        .recent-blog-posts .badge-inner {
            border-radius: 99%
        }

        .recent-blog-posts a {
            font-size: 15px;
            font-weight: 400
        }

        .the-tim-kiem a:hover {
            background: #b39851;
            color: #fff
        }

        .the-tim-kiem a {
            background: #f4f4f4;
            padding: 3px 10px;
            color: #717171
        }

        .danh-muc {
            display: block;
            margin-bottom: 6px
        }

        .is-divider, .widget .post_comments {
            display: none
        }

        .blog-single .entry-title {
            margin-top: 11px
        }

        .blog-single .entry-meta {
            font-size: 13px;
            letter-spacing: 0;
            color: gray;
            text-transform: none
        }

        .entry-content {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 15px
        }

        .recent-blog-posts a:hover {
            color: #f80 !important
        }

        .thong-tin-cua-hang p {
            margin-bottom: 10px
        }

        .thong-tin-cua-hang strong {
            font-weight: 500;
            color: #ff7d00
        }

        .thong-tin-cua-hang h3 {
            color: #960000
        }

        .thong-tin-cua-hang {
            background: #efece3;
            padding: 10px;
            font-size: 14px
        }

        .widget {
            background: #f4f4f4;
            padding: 20px 10px
        }

        #product-sidebar .widget {
            background: #fff;
            padding: 0
        }

        .res-sp .box-image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover
        }

        .res-sp .box-image {
            padding-bottom: 120%
        }
        /* Custom CSS Mobile */

        @@media (max-width: 549px) {
            #top-bar, .banner-dau-trang .cot2 {
                display: none
            }

            .off-canvas-center .nav-sidebar.nav-vertical > li > a {
                font-family: Oswald,sans-serif;
                font-weight: 400;
                padding: 9px
            }

            .de-xuat .banner .text-box .text-inner span {
                line-height: 39px
            }

            .block-html-after-header .row .col {
                height: 67px;
                padding: 0
            }

                .block-html-after-header .row .col .icon-box {
                    padding-top: 15px
                }

            .block-after-header-bottom .tieu-de {
                margin-bottom: 1px;
                font-size: 11px
            }

            a.devvn_buy_now_style {
                max-width: 100%
            }

            .single_add_to_cart_button {
                width: 71%
            }

            .custom-form-1 .left, .custom-form-1 .right {
                width: 100%;
                padding-right: 0;
                padding-left: 0
            }

            .tabbed-content .nav-tabs > li {
                width: 33.33%;
                float: left
            }

            .nav-tabs > li.active > a, .nav-tabs > li > a {
                padding: 10px;
                text-align: center;
                font-size: 14px !important
            }

            .product-footer {
                margin-top: -76px
            }

            .page-title-inner {
                padding-top: 5px
            }

            .woof_sid_auto_shortcode .woof_container {
                padding-left: 5px;
                padding-right: 5px;
                width: 50%;
                clear: none;
                float: left;
                display: inline-block
            }

            .woof_sid_auto_shortcode .woof_container_inner {
                padding-left: 0
            }

            .blog-archive .post-item .box-text {
                padding-left: 0;
                padding-right: 0;
                padding-top: 10px
            }

            .comments-area {
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 0
            }

            .blog-single .entry-category {
                line-height: 18px;
                font-weight: 400
            }

            .blog-archive .post-sidebar, .blog-single .post-sidebar, .page-right-sidebar .large-3 {
                padding-left: 15px
            }

            .entry-content {
                font-size: 14px
            }
        }

        .label-new.menu-item > a:after {
            content: "New";
        }

        .label-hot.menu-item > a:after {
            content: "Hot";
        }

        .label-sale.menu-item > a:after {
            content: "Sale";
        }

        .label-popular.menu-item > a:after {
            content: "Popular";
        }</style>

</head>

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-29 theme-flatsome has_devvn_toolbar woocommerce-no-js lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">



    <div id="wrapper">


        <header id="header" class="header ">
            <div class="header-wrapper">
                <div id="top-bar" class="header-top hide-for-sticky nav-dark">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav nav-left medium-nav-center nav-small  nav-divided">
                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-center">
                            <ul class="nav nav-center nav-small  nav-divided">
                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="nav top-bar-nav nav-right nav-small  nav-divided">
                                <li class="header-contact-wrapper">
                                    <ul id="header-contact" class="nav nav-divided nav-uppercase header-contact">

                                        <li class="">
                                            <a href="mailto:thanhtung2051986@gmail.com" class="tooltip" title="thanhtung2051986@gmail.com">
                                                <i class="icon-envelop" style="font-size:16px;"></i>			       <span>
                                                    thanhtung2051986@gmail.com
                                                </span>
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="flex-col show-for-medium flex-grow">
                            <ul class="nav nav-center nav-small mobile-nav  nav-divided">
                                <li class="html custom html_topbar_left"><strong class="uppercase">GỌI TƯ VẤN: 0944.487.586</strong></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div id="masthead" class="header-main hide-for-sticky nav-dark">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="/" title=" Công ty Sản xuất - Dịch vụ TM Hoàng Minh Sản phẩm : Kinh doanh rượu Hoàng Hoa" rel="home">
                                <img width="211" height="103" src="~/img/logo.png" class="header_logo header-logo" alt="Hoàng Minh Group" />
                                <img width="211" height="103" src="~/img/logo.png" class="header-logo-dark" alt="Hoàng Minh Group" />
                            </a>
                        </div>

                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">

                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
            flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                <li class="header-search-form search-form html relative has-icon">
                                    <div class="header-search-form-wrapper">
                                        <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                                            <form role="search" method="get" class="searchform" action="/tim-kiem-san-pham">
                                                <div class="flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
                                                        <input type="search" id="woocommerce-product-search-field-0" class="search-field mb-0" placeholder="Bạn đang tìm sản phẩm nào?..." value="" name="s" />
                                                        @*<input type="hidden" name="post_type" value="product" />*@
                                                    </div>
                                                    <div class="flex-col" style="
    position: absolute;
    right: 2px;
">
                                                        <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                                            <i class="icon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>

                </div><div id="wide-nav" class="header-bottom wide-nav hide-for-sticky nav-dark flex-has-center">
                    <div class="flex-row container">

                        @await Component.InvokeAsync("Menu")



                        <div class="flex-col show-for-medium flex-grow">
                            <ul class="nav header-bottom-nav nav-center mobile-nav  nav-size-medium nav-spacing-xlarge nav-uppercase">
                                <li class="header-search-form search-form html relative has-icon">
                                    <div class="header-search-form-wrapper">
                                        <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                                            <form role="search" method="get" class="searchform" action="/tim-kiem-san-pham">
                                                <div class="flex-row relative">
                                                    <div class="flex-col flex-grow">
                                                        <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
                                                        <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Bạn đang tìm sản phẩm nào?..." value="" name="s" />
                                                    </div>
                                                    <div class="" style="position:absolute;right:3px">
                                                        <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                                            <i class="icon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="live-search-results text-left z-top"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div>
            </div>
        </header>

        <div class="header-block block-html-after-header z-1" style="position:relative;top:-1px;">
            <section class="section block-after-header-bottom hide-for-small" id="section_2055804743">
                <div class="bg section-bg fill bg-fill  bg-loaded">
                </div>

                <div class="section-content relative">


                    <div class="row row-collapse" id="row-30799240">


                        <div id="col-1020116099" class="col medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 48px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="48" height="27" src=@Url.Content("~/wp-content/uploads/2019/02/icon4.jpg") class="attachment-medium size-medium" alt="" decoding="async" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">


                                        <p class="tieu-de">Hộp quà tết 2024</p>
                                        <p class="mo-ta">Các Sản Phẩm Hộp Quà Tết</p>

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-1740877836" class="col medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 48px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="48" height="27" src=@Url.Content("~/wp-content/uploads/2019/02/icon3.jpg") class="attachment-medium size-medium" alt="" decoding="async" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">


                                        <p class="tieu-de">CAM KẾT SẢN PHẨM</p>
                                        <p class="mo-ta">Uy Tín - Chất Lượng</p>

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-1003279613" class="col medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 48px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="48" height="27" src=@Url.Content("~/wp-content/uploads/2019/02/icon2.jpg") class="attachment-medium size-medium" alt="" decoding="async" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">


                                        <p class="tieu-de">Giao hàng &amp; Đổi trả</p>
                                        <p class="mo-ta">Giao hàng đảm bảo </p>

                                    </div>
                                </div>



                            </div>
                        </div>



                        <div id="col-1488723443" class="col medium-3 small-6 large-3">
                            <div class="col-inner">




                                <div class="icon-box featured-box icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 48px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="48" height="27" src=@Url.Content("~/wp-content/uploads/2019/02/icon1.jpg") class="attachment-medium size-medium" alt="" decoding="async" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">


                                        <p class="tieu-de">KHÔNG UỐNG RƯỢU</p>
                                        <p class="mo-ta">Phụ nữ mang thai và trẻ em</p>

                                    </div>
                                </div>



                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_2055804743 {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-color: rgb(206, 206, 206);
                    }
                </style>
            </section>
        </div>
        <main id="main" class="">


            @RenderBody()



        </main>

        <footer id="footer" class="footer-wrapper">

            <section class="section footer-section" id="section_774017382">
                <div class="bg section-bg fill bg-fill  bg-loaded">
                </div>

                <div class="section-content relative">



                    <div class="row row-small" id="row-462179545">


                        <div id="col-379650791" class="col cot-cuoi medium-3 small-6 large-3">
                            <div class="col-inner dark">



                                <h3>THÔNG TIN LIÊN HỆ</h3>
                                <ul>
                                    <li>Công ty Sản xuất - Dịch vụ TM Hoàng Minh</li>
                                    <li>Sản phẩm : Kinh doanh rượu Hoàng Hoa</li>
                                    <li>Địa chỉ : 27D Đường 510 -Trung Sơn -TT Bút Sơn- Hoằng Hóa-Thanh Hóa</li>
                                    <li>Điện thoại: 0944.487.586</li>
                                    <li>Website: www.hoangminhgr.vn</li>
                                </ul>

                            </div>
                        </div>



                        <div id="col-848450848" class="col medium-3 small-6 large-3">
                            <div class="col-inner dark">



                                <h3>VỀ CHÚNG TÔI</h3>
                                <ul>
                                    <li><a href="gioi-thieu/index.html">Giới thiệu</a></li>
                                    <li>Giao hàng &amp; Đổi trả</li>
                                    <li>Bảo mật thông tin</li>
                                    <li>Điều khoản sử dụng</li>
                                    <li>Ký gửi &amp; trao đổi</li>
                                </ul>

                            </div>
                        </div>



                        <div id="col-1623006827" class="col medium-3 small-6 large-3">
                            <div class="col-inner dark">



                                <h3>THÔNG TIN</h3>
                                <ul>
                                    <li>Sản phẩm mới</li>
                                    <li>Sản phẩm đã xem</li>
                                    <li>So sánh sản phẩm</li>
                                </ul>
                                <p><a href="~/wp-content/uploads/2021/11/certificate-3.png"><img class="alignnone size-full wp-image-939" src="~/wp-content/uploads/2021/11/certificate-3.png" alt="" width="154" height="37" /></a></p>


                            </div>
                        </div>



                        <div id="col-1032636494" class="col medium-3 small-6 large-3">
                            <div class="col-inner dark">
                                <h3>KẾT NỐI FANPAGE CHÚNG TÔI</h3>
                                <p>
                                </p>

                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_774017382 {
                        padding-top: 30px;
                        padding-bottom: 30px;
                        background-color: rgb(57, 0, 35);
                    }
                </style>
            </section>

            <div class="absolute-footer dark medium-text-center text-center">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            THƯỞNG THỨC CÓ TRÁCH NHIỆM</br>
                            Các sản phẩm rượu không dành cho người dưới 18 tuổi và phụ nữ đang mang thai.</br>
                            Bản quyền © 2023 Công ty Sản xuất - Dịch vụ TM Hoàng Minh Nỗ lực cống hiến không ngừng để đạt tới sự hoàn hảo
                        </div>
                    </div>
                </div>
            </div>

            <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>

        </footer>

    </div>

    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        @await Component.InvokeAsync("MenuMobile")

    </div>
    <style>
        .single-product div#tab-description {
            overflow: hidden;
            position: relative;
        }

        .single-product .tab-panels div#tab-description.panel:not(.active) {
            height: 0 !important;
        }

        .devvn_readmore_flatsome {
            text-align: center;
            cursor: pointer;
            position: absolute;
            z-index: 9999;
            bottom: 0;
            width: 100%;
            background: #fff;
        }

            .devvn_readmore_flatsome:before {
                height: 55px;
                margin-top: -45px;
                content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)));
                display: block;
            }

            .devvn_readmore_flatsome a {
                color: #318A00;
                display: block;
            }

                .devvn_readmore_flatsome a:after {
                    content: '';
                    width: 0;
                    right: 0;
                    border-top: 6px solid #318A00;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    display: inline-block;
                    vertical-align: middle;
                    margin: -2px 0 0 5px;
                }
    </style>
    <script>(function ($) {
            $(document).ready(function () {
                $(window).load(function () {
                    if ($('.single-product div#tab-description').length > 0) {
                        var wrap = $('.single-product div#tab-description');
                        var current_height = wrap.height();
                        var your_height = 300;
                        if (current_height > your_height) {
                            wrap.css('height', your_height + 'px');
                            wrap.append(function () {
                                return '<div class="devvn_readmore_flatsome"><a title="Xem thêm" href="javascript:void(0);">Xem thêm</a></div>';
                            });
                            $('body').on('click', '.devvn_readmore_flatsome', function () {
                                wrap.removeAttr('style');
                                $('body .devvn_readmore_flatsome').remove();
                            });
                        }
                    }
                });
            })
        })(jQuery)</script>
    <script type="text/javascript">(function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();</script>
    <link rel='stylesheet' id='flatsome-effects-css' href='/wp-content/themes/flatsome/assets/css/effects9dd7.css?ver=3.14.3' type='text/css' media='all' />
    <style id='global-styles-inline-css' type='text/css'>
        body {
            --wp--preset--color--black: #000000;
            --wp--preset--color--cyan-bluish-gray: #abb8c3;
            --wp--preset--color--white: #ffffff;
            --wp--preset--color--pale-pink: #f78da7;
            --wp--preset--color--vivid-red: #cf2e2e;
            --wp--preset--color--luminous-vivid-orange: #ff6900;
            --wp--preset--color--luminous-vivid-amber: #fcb900;
            --wp--preset--color--light-green-cyan: #7bdcb5;
            --wp--preset--color--vivid-green-cyan: #00d084;
            --wp--preset--color--pale-cyan-blue: #8ed1fc;
            --wp--preset--color--vivid-cyan-blue: #0693e3;
            --wp--preset--color--vivid-purple: #9b51e0;
            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
            --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
            --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
            --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
            --wp--preset--font-size--small: 13px;
            --wp--preset--font-size--medium: 20px;
            --wp--preset--font-size--large: 36px;
            --wp--preset--font-size--x-large: 42px;
            --wp--preset--spacing--20: 0.44rem;
            --wp--preset--spacing--30: 0.67rem;
            --wp--preset--spacing--40: 1rem;
            --wp--preset--spacing--50: 1.5rem;
            --wp--preset--spacing--60: 2.25rem;
            --wp--preset--spacing--70: 3.38rem;
            --wp--preset--spacing--80: 5.06rem;
            --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
            --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
            --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
        }

        :where(.is-layout-flex) {
            gap: 0.5em;
        }

        :where(.is-layout-grid) {
            gap: 0.5em;
        }

        body .is-layout-flow > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-flow > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-flow > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-constrained > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-constrained > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
            max-width: var(--wp--style--global--content-size);
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > .alignwide {
            max-width: var(--wp--style--global--wide-size);
        }

        body .is-layout-flex {
            display: flex;
        }

        body .is-layout-flex {
            flex-wrap: wrap;
            align-items: center;
        }

            body .is-layout-flex > * {
                margin: 0;
            }

        body .is-layout-grid {
            display: grid;
        }

            body .is-layout-grid > * {
                margin: 0;
            }

        :where(.wp-block-columns.is-layout-flex) {
            gap: 2em;
        }

        :where(.wp-block-columns.is-layout-grid) {
            gap: 2em;
        }

        :where(.wp-block-post-template.is-layout-flex) {
            gap: 1.25em;
        }

        :where(.wp-block-post-template.is-layout-grid) {
            gap: 1.25em;
        }

        .has-black-color {
            color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-color {
            color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-color {
            color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-color {
            color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-color {
            color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-color {
            color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-color {
            color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-color {
            color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-color {
            color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-color {
            color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-color {
            color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-color {
            color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-background-color {
            background-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-background-color {
            background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-background-color {
            background-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-background-color {
            background-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-background-color {
            background-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-background-color {
            background-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-background-color {
            background-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-background-color {
            background-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-background-color {
            background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-background-color {
            background-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-border-color {
            border-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-border-color {
            border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-border-color {
            border-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-border-color {
            border-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-border-color {
            border-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-border-color {
            border-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-border-color {
            border-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-border-color {
            border-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-border-color {
            border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-border-color {
            border-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
        }

        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
        }

        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-orange-to-vivid-red-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
        }

        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
        }

        .has-cool-to-warm-spectrum-gradient-background {
            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
        }

        .has-blush-light-purple-gradient-background {
            background: var(--wp--preset--gradient--blush-light-purple) !important;
        }

        .has-blush-bordeaux-gradient-background {
            background: var(--wp--preset--gradient--blush-bordeaux) !important;
        }

        .has-luminous-dusk-gradient-background {
            background: var(--wp--preset--gradient--luminous-dusk) !important;
        }

        .has-pale-ocean-gradient-background {
            background: var(--wp--preset--gradient--pale-ocean) !important;
        }

        .has-electric-grass-gradient-background {
            background: var(--wp--preset--gradient--electric-grass) !important;
        }

        .has-midnight-gradient-background {
            background: var(--wp--preset--gradient--midnight) !important;
        }

        .has-small-font-size {
            font-size: var(--wp--preset--font-size--small) !important;
        }

        .has-medium-font-size {
            font-size: var(--wp--preset--font-size--medium) !important;
        }

        .has-large-font-size {
            font-size: var(--wp--preset--font-size--large) !important;
        }

        .has-x-large-font-size {
            font-size: var(--wp--preset--font-size--x-large) !important;
        }

        /***** START: hiding submit button of the price slider ******/
        .woof_price_search_container .price_slider_amount button.button {
            display: none;
        }

        .woof_price_search_container .price_slider_amount .price_label {
            text-align: left !important;
        }

        .woof .widget_price_filter .price_slider_amount .button {
            float: left;
        }

        /***** END: hiding submit button of the price slider ******/






        .woof_edit_view {
            display: none;
        }

        @@media (min-width: 561px) {
            .devvn_toolbar {
                position: fixed;
                bottom: 10px;
                left: 10px;
                z-index: 99999999;
            }

                .devvn_toolbar ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                    .devvn_toolbar ul li {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                    }

                        .devvn_toolbar ul li a {
                            display: block;
                            position: relative;
                        }

                            .devvn_toolbar ul li a > div {
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;
                                margin: 0 0 5px;
                                position: relative;
                                background-position: 50% 50%;
                                background-size: cover;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .devvn_toolbar ul li a br {
                                display: none;
                            }

                            .devvn_toolbar ul li a span {
                                font-weight: 400;
                                color: #333;
                                position: absolute;
                                top: 50%;
                                left: calc(100% + 10px);
                                left: -webkit-calc(100% + 10px);
                                left: -moz-calc(100% + 10px);
                                margin-top: -12.5px;
                                font-size: 14px;
                                height: 25px;
                                line-height: 25px;
                                padding: 0 10px;
                                border-radius: 5px;
                                -moz-border-radius: 5px;
                                -webkit-border-radius: 5px;
                                white-space: nowrap;
                                opacity: 0;
                                visibility: hidden;
                            }

                            .devvn_toolbar ul li a:hover span {
                                opacity: 1;
                                visibility: visible;
                            }

                            .devvn_toolbar ul li a span:after {
                                right: 100%;
                                top: 50%;
                                border: solid transparent;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                border-color: rgba(136, 183, 213, 0);
                                border-right-color: #333;
                                border-width: 5px;
                                margin-top: -5px;
                            }

                            .devvn_toolbar ul li a img {
                                width: auto;
                                height: auto;
                                max-width: 35px;
                                max-height: 35px;
                                margin: 0;
                                box-shadow: none;
                                border: 0;
                            }

            .devvn_contact_quickbuy_li, .devvn_contact_addtocart_li {
                display: none;
            }


            .devvn_toolbar ul li a.animation_tada > div {
                animation-name: devvn_tada;
                -webkit-animation-name: devvn_tada;
                animation-delay: 0s;
                -webkit-animation-delay: 0s;
                animation-duration: 1.5s;
                -webkit-animation-duration: 1.5s;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                cursor: pointer;
                box-shadow: 0 0 0 0 #c31d1d;
            }

            .devvn_toolbar ul li a.animation_zoom > div {
                animation-name: devvn_zoom;
                -webkit-animation-name: devvn_zoom;
                animation-delay: 0s;
                -webkit-animation-delay: 0s;
                animation-duration: 1.5s;
                -webkit-animation-duration: 1.5s;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                cursor: pointer;
                box-shadow: 0 0 0 0 #c31d1d;
            }

            @@-webkit-keyframes devvn_tada {
                0% {
                    -webkit-transform: scale(1);
                    transform: scale(1)
                }

                10%, 20% {
                    -webkit-transform: scale(.9) rotate(-3deg);
                    transform: scale(.9) rotate(-3deg)
                }

                30%, 50%, 70%, 90% {
                    -webkit-transform: scale(1.1) rotate(3deg);
                    transform: scale(1.1) rotate(3deg)
                }

                40%, 60%, 80% {
                    -webkit-transform: scale(1.1) rotate(-3deg);
                    transform: scale(1.1) rotate(-3deg)
                }

                100% {
                    -webkit-transform: scale(1) rotate(0);
                    transform: scale(1) rotate(0)
                }
            }

            @@keyframes devvn_tada {
                0% {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1)
                }

                10%, 20% {
                    -webkit-transform: scale(.9) rotate(-3deg);
                    -ms-transform: scale(.9) rotate(-3deg);
                    transform: scale(.9) rotate(-3deg)
                }

                30%, 50%, 70%, 90% {
                    -webkit-transform: scale(1.1) rotate(3deg);
                    -ms-transform: scale(1.1) rotate(3deg);
                    transform: scale(1.1) rotate(3deg)
                }

                40%, 60%, 80% {
                    -webkit-transform: scale(1.1) rotate(-3deg);
                    -ms-transform: scale(1.1) rotate(-3deg);
                    transform: scale(1.1) rotate(-3deg)
                }

                100% {
                    -webkit-transform: scale(1) rotate(0);
                    -ms-transform: scale(1) rotate(0);
                    transform: scale(1) rotate(0)
                }
            }

            @@-webkit-keyframes devvn_zoom {
                0% {
                    transform: scale(.9)
                }

                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 15px transparent
                }

                100% {
                    transform: scale(.9);
                    box-shadow: 0 0 0 0 transparent
                }
            }

            @@keyframes devvn_zoom {
                0% {
                    transform: scale(.9)
                }

                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 15px transparent
                }

                100% {
                    transform: scale(.9);
                    box-shadow: 0 0 0 0 transparent
                }
            }

            .devvn_toolbar ul li a.animation_swing img {
                animation-name: devvn_swing;
                -webkit-animation-name: devvn_swing;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
                animation-timing-function: ease-in;
                -webkit-animation-timing-function: ease-in;
            }

            @@-webkit-keyframes devvn_swing {
                20% {
                    -webkit-transform: rotate3d(0,0,1,15deg);
                    transform: rotate3d(0,0,1,15deg)
                }

                40% {
                    -webkit-transform: rotate3d(0,0,1,-10deg);
                    transform: rotate3d(0,0,1,-10deg)
                }

                60% {
                    -webkit-transform: rotate3d(0,0,1,5deg);
                    transform: rotate3d(0,0,1,5deg)
                }

                80% {
                    -webkit-transform: rotate3d(0,0,1,-5deg);
                    transform: rotate3d(0,0,1,-5deg)
                }

                to {
                    -webkit-transform: rotate3d(0,0,1,0deg);
                    transform: rotate3d(0,0,1,0deg)
                }
            }

            @@keyframes devvn_swing {
                20% {
                    -webkit-transform: rotate3d(0,0,1,15deg);
                    transform: rotate3d(0,0,1,15deg)
                }

                40% {
                    -webkit-transform: rotate3d(0,0,1,-10deg);
                    transform: rotate3d(0,0,1,-10deg)
                }

                60% {
                    -webkit-transform: rotate3d(0,0,1,5deg);
                    transform: rotate3d(0,0,1,5deg)
                }

                80% {
                    -webkit-transform: rotate3d(0,0,1,-5deg);
                    transform: rotate3d(0,0,1,-5deg)
                }

                to {
                    -webkit-transform: rotate3d(0,0,1,0deg);
                    transform: rotate3d(0,0,1,0deg)
                }
            }

            body .devvn_toolbar.devvn_toolbar_right {
                left: auto;
                bottom: 10px;
                right: 10px;
            }

                body .devvn_toolbar.devvn_toolbar_right ul li a span {
                    right: calc(100% + 10px);
                    right: -webkit-calc(100% + 10px);
                    right: -moz-calc(100% + 10px);
                    left: auto
                }

            .devvn_toolbar.devvn_toolbar_right ul li a span:after {
                left: 100%;
                right: 0;
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg)
            }
        }

        @@media (max-width: 560px) {
            body.has_devvn_toolbar {
                padding-bottom: 50px;
            }

            .devvn_toolbar {
                background: #fff;
                display: inline-block;
                width: 100%;
                bottom: 0;
                left: 0;
                position: fixed;
                z-index: 99999999;
                height: auto;
                padding: 0;
                border-top: 0;
                visibility: hidden;
                opacity: 0;
                transform: translate3d(0,120%,0);
                -moz-transform: translate3d(0,120%,0);
                -webkit-transform: translate3d(0,120%,0);
                transition: all .3s linear;
                -moz-transition: all .3s linear;
                -webkit-transition: all .3s linear;
                box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 60%);
                padding-bottom: env(safe-area-inset-bottom);
            }

            .show_contactfix .devvn_toolbar {
                transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
                visibility: visible;
                opacity: 1;
            }


            .devvn_toolbar ul {
                list-style: none;
                padding: 0;
                margin: 0;
                border-collapse: collapse;
                width: 100%;
                -js-display: flex;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            }

                .devvn_toolbar ul li {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                    text-align: center;
                    display: flex;
                    margin-bottom: 0;
                }

                    .devvn_toolbar ul li a {
                        display: block;
                        width: 100%;
                        outline: none;
                        text-decoration: none;
                        padding: 5px 3px;
                        white-space: nowrap;
                    }

                        .devvn_toolbar ul li a span {
                            font-weight: 400;
                            color: #333;
                            background: transparent;
                            font-size: 3.5vw;
                            display: block;
                            margin: 2px 0 0 0;
                        }

                        .devvn_toolbar ul li a img {
                            height: 6vw;
                            width: auto;
                            margin: 0;
                        }

            .woocommerce-checkout .devvn_toolbar {
                display: none !important;
            }

            .devvn_toolbar a.devvn_buy_now_style {
                margin: 0;
                border-radius: 0;
                padding: 5px 8px;
                font-size: initial;
                line-height: inherit;
            }

                .devvn_toolbar a.devvn_buy_now_style span {
                    margin: 0;
                    padding: 0;
                }

                .devvn_toolbar a.devvn_buy_now_style span {
                    background: none !important;
                }

            a#devvn_contact_addtocart {
                background: #e03232 !important;
            }

            a#devvn_contact_quickbuy {
                background: #fd6e1d !important;
            }
        }

        .mfp-wrap, .mfp-bg {
            z-index: 999999999;
        }

        li.devvn_contact_addtocart_li.cf_loading a {
            position: relative;
            pointer-events: none;
        }

            li.devvn_contact_addtocart_li.cf_loading a:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #0000006b;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            li.devvn_contact_addtocart_li.cf_loading a:after {
                -webkit-animation: devvn_cf_spin 500ms infinite linear;
                animation: devvn_cf_spin 500ms infinite linear;
                border: 2px solid #fff;
                border-radius: 32px;
                border-right-color: transparent !important;
                border-top-color: transparent !important;
                content: "";
                display: block;
                height: 16px;
                top: 50%;
                margin-top: -8px;
                left: 50%;
                margin-left: -8px;
                position: absolute;
                width: 16px;
                z-index: 3;
            }

        @@-webkit-keyframes devvn_cf_spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
            }
        }

        @@keyframes devvn_cf_spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
            }
        }

        .product-thumbnails a img {
            height: 100px;
            object-fit: cover;
        }

        .box-image img {
            height: 250px;
            object-fit: cover;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/wp-content/plugins/devvn-quick-buy/js/jquery.validate.min001e.js?ver=2.0.0" id="jquery.validate-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/devvn-quick-buy/js/jquery.bpopup.min001e.js?ver=2.0.0" id="bpopup-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mined84.js?ver=8.3.1" id="wc-add-to-cart-variation-js" data-wp-strategy="defer"></script>
    <script type="text/javascript" src="/wp-content/plugins/devvn-quick-buy/js/devvn-quick-buy001e.js?ver=2.0.0" id="devvn-quickbuy-script-js"></script>
    <script type="text/javascript" src="/wp-includes/js/dist/vendor/wp-polyfill-inert.min0226.js?ver=3.1.2" id="wp-polyfill-inert-js"></script>
    <script type="text/javascript" src="/wp-includes/js/dist/vendor/regenerator-runtime.min6c85.js?ver=0.14.0" id="regenerator-runtime-js"></script>
    <script type="text/javascript" src="/wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0" id="wp-polyfill-js"></script>
    <script type="text/javascript" src="/wp-includes/js/hoverIntent.min3e5a.js?ver=1.10.2" id="hoverIntent-js"></script>
    <script type="text/javascript" id="flatsome-js-js-extra">/* <![CDATA[ */
        var flatsomeVars = {
            "theme": { "version": "3.14.3" }, "ajaxurl": "", "rtl": "", "sticky_height": "40", "assets_url": "/wp-content\/themes\/flatsome\/assets\/js\/",
            "lightbox": {
                "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>",
                "close_btn_inside": false
            }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": {
                "cookie_notice_version": "1", "swatches_layout": false, "swatches_box_select_event": false,
                "swatches_box_behavior_selected": false, "swatches_box_update_urls": "1", "swatches_box_reset": false, "swatches_box_reset_extent": false, "swatches_box_reset_time": 300, "search_result_latency": "0"
            }, "is_mini_cart_reveal": "1"
        };
        /* ]]> */</script>
    <script type="text/javascript" src="/wp-content/themes/flatsome/assets/js/flatsome7b00.js?ver=295a0d1d1e8168b25a51f884bffa7b33" id="flatsome-js-js"></script>
    <script type="text/javascript" src="/wp-content/themes/flatsome/inc/extensions/flatsome-lazy-load/flatsome-lazy-load9dd7.js?ver=3.14.3" id="flatsome-lazy-js"></script>
    <script type="text/javascript" src="/wp-content/themes/flatsome/assets/js/woocommerceca05.js?ver=b3c807cf00d38de8d7f31c1197eb135d" id="flatsome-theme-woocommerce-js-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/icheck/icheck.min1e39.js?ver=6.4.2" id="icheck-jquery-js"></script>
    @*<script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/front1e39.js?ver=6.4.2" id="woof_front-js"></script>*@
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/html_types/radio1e39.js?ver=6.4.2" id="woof_radio_html_items-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/html_types/checkbox1e39.js?ver=6.4.2" id="woof_checkbox_html_items-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/html_types/select1e39.js?ver=6.4.2" id="woof_select_html_items-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/html_types/mselect1e39.js?ver=6.4.2" id="woof_mselect_html_items-js"></script>
    <script type="text/javascript" src="/wp-content/plugins/woocommerce-products-filter/js/chosen/chosen.jquery.min1e39.js?ver=6.4.2" id="chosen-drop-down-js"></script>
    <script type="text/javascript" src="/wp-content/themes/flatsome/assets/libs/packery.pkgd.min9dd7.js?ver=3.14.3" id="flatsome-masonry-js-js"></script>

    <script>$(document).ready(function () {

            $('body').on('click', '.product-thumbnail-item', function () {
                $(".product-thumbnail-item").removeClass("is-nav-selected");
                var urlimg = $(this).find('img').attr('src');
                $(this).addClass('is-nav-selected');
                
                $('#product-image-main').attr('src', urlimg);
            });
        });</script>

</body>

<!-- Mirrored from ruouhongphat.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Dec 2023 15:18:58 GMT -->
</html>
